body {
  background-color: #dee5e5;
  font-family:sans-serif;
  color: #353333;
  font-size: 0.9em;
  margin-top:0;
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
}

p {
  font-family:sans-serif;
  color: #353333;
  font-size: 1.1em;
  text-align: justify;
  margin-bottom: 1em;
}

a:link {
  color: #1cafff;
  text-decoration: none;
}

a:visited {
  color: #1cafff;
  text-decoration: none;
}

a:active {
  color: #1cafff;
  text-decoration: none;
}

a:hover {
  color: #2c73ed;
  text-decoration: none;
}

hr {
  display: block;
  color: #1cafff;
  margin-top: 0.25em;
  margin-bottom: 0.75em;
  border: 2px dashed #1cafff;
}

h3 {
  margin-top: 1em;
  color: #2c73ed;
}

textarea {
  background-color: #eaeaea;
  border: 3px dashed #2c73ed;
  color: #353333;
  font-family:sans-serif;
  float:left;
  text-align: left;
}

input[type=submit] {
  background-color: #2c73ed;
  cursor: pointer;
  height: 50px;
  width: 100px;
  float:left;
  display:inline;
  clear:left;
  color: #199226;
  border: none;
}

#cancel-button a {
  background-color: #1cafff;
  cursor:pointer;
  white-space:normal;
  height: 50px;
  width: 100px;
  float:left;
  display:inline;
  color: #199226;
  border: none;
  text-align:center;
  vertical-align: middle;
  line-height: 49px;
}

#main {
  transition: margin-left 0.5s;
  margin-top:0;
  margin-left:0;
  margin-right:0;
  margin-bottom:100px;
}

.header .container {
  background-color: #e0e0e0;
  margin: 0;
  width: auto;
}

.articlefoot {
  background-color: #ededed;
  margin: 0;
  width: 100%;
  position:fixed;
  bottom: 0;
}

.articlefoot a {
  float:right;
  height: 100px;
  display: inline-block;
  width:100px;
  font-family: sans-serif;
  text-align:center;
  vertical-align: middle;
  line-height: 100px;
  background-color: #ededed;
  border:none;
  outline:0;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  cursor:pointer;
  white-space:normal;
  font-size: 1.2em;
}

.footerbox:hover {
  background-color:#dbdbdb;
}

.topBar {
  color:#000000;
  background-color:#ededed;
  }

.topButton {
  border:none;
  display:inline-block;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  font-size:24px;
  }

.sideBar {
  height:100%;
  width:200px;
  background-color:#b7b7b7;
  position:fixed;
  overflow:auto;
}

.sideBarItem {
  width:100%;
  border:none;
  display:block;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:left;
  cursor:pointer;
  white-space:normal;
  float:none;
  width:auto;
  font-size: 30px;
  font-family: sans-serif;
}

.sideBarItem:hover {
  background-color:#CCCCCC;
}

.barButton {
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  outline:none;
  white-space:normal;
  float:none;
  background-color: inherit;
  font-size:30px;
  font-family:sans-serif;
  color: #1cafff;
}

.barButton:hover {
  background-color:#CCCCCC;
}


.container {
  padding:0.01em 16px;
}


.bodytext {
  font-family:sans-serif;
  color: #353333;
  font-size: 0.9em;
  padding: 16px 16px;
  width:1000px;
  text-align: justify;
}


::-webkit-scrollbar {
  background-color: #ededed;
  width: 10px;
}

::-webkit-scrollbar-button {
  background-color: gray;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #606060;
}

::-webkit-scrollbar-track-piece {
    background-color: #606060;
}

::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 10px;
    border: 1px solid #CCCCCC;
}

::-webkit-scrollbar-corner {
  background-color: #ededed;
}

::-webkit-resizer {
  background-color: #ededed;
}
