body {
  background-color: #303131;
  font-family:sans-serif;
  color: #E3E3E3;
  font-size: 0.9em;
  margin:0;
}

p {
  font-family:sans-serif;
  color: #E3E3E3;
  font-size: 1.1em;
  text-align: justify;
  margin-bottom: 1em;
}

a:link {
  color: #B3F5FF;
  text-decoration: none;
}

a:visited {
  color: #B3F5FF;
  text-decoration: none;
}

a:active {
  color: #B3F5FF;
  text-decoration: none;
}

a:hover {
  color: #F7FFB3;
  text-decoration: none;
}

hr {
  display: block;
  color: #B3F5FF;
  margin-top: 0.25em;
  margin-bottom: 0.75em;
  border: 2px dashed #B3F5FF;
}

h3 {
  margin-top: 1em;
  color: #EEF2BF;
}

textarea {
  background-color: #292929;
  border: 3px dashed #F7FFB3;
  color: #E3E3E3;
  font-family:sans-serif;
  float:left;
  text-align: left;
}

input[type=submit] {
  background-color: #F7FFB3;
  cursor: pointer;
  height: 50px;
  width: 100px;
  float:left;
  display:inline;
  clear:left;
  color: #626273;
  border: none;
}

#cancel-button a {
  background-color: #B3FFFE;
  cursor:pointer;
  white-space:normal;
  height: 50px;
  width: 100px;
  float:left;
  display:inline;
  color: #626273;
  border: none;
  text-align:center;
  vertical-align: middle;
  line-height: 49px;
}

#main {
  transition: margin-left 0.5s;
  margin-bottom: 100px;
}

.header .container {
  background-color: #383838;
  margin: 0;
  width: auto;
}

.articlefoot {
  background-color: #212121;
  margin: 0;
  width: 100%;
  position:fixed;
  bottom: 0;
}

.articlefoot a {
  float:right;
  height: 100px;
  display: inline-block;
  width:100px;
  font-family: sans-serif;
  text-align:center;
  vertical-align: middle;
  line-height: 100px;
  background-color: #212121;
  border:none;
  outline:0;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  cursor:pointer;
  white-space:normal;
  font-size: 1.2em;
}

.footerbox:hover {
  background-color:#303030;
}



.topBar {
  color:#fff;
  background-color:#212121;
  }

.topButton {
  border:none;
  display:inline-block;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  font-size:24px;
  }

.sideBar {
  height:100%;
  width:200px;
  background-color:#424242;
  position:fixed;
  overflow:auto;
}

.sideBarItem {
  width:100%;
  border:none;
  display:block;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:left;
  cursor:pointer;
  white-space:normal;
  float:none;
  width:auto;
  font-size: 30px;
  font-family: sans-serif;
}

.sideBarItem:hover {
  background-color:#373737;
}

.barButton {
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  outline:none;
  white-space:normal;
  float:none;
  background-color: inherit;
  font-size:30px;
  font-family:sans-serif;
  color: #B3F5FF
}

.barButton:hover {
  background-color:#373737;
}


.container {
  padding:0.01em 16px;
}


.bodytext {
  font-family:sans-serif;
  color: #E3E3E3;
  font-size: 0.9em;
  margin: 0 auto;
  padding-top: 2vh;
  width: 80%;
  text-align: justify;
}


::-webkit-scrollbar {
  background-color: #212121;
  width: 10px;
}

::-webkit-scrollbar-button {
  background-color: gray;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #606060;
}

::-webkit-scrollbar-track-piece {
    background-color: #606060;
}

::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 10px;
    border: 1px solid #323232;
}

::-webkit-scrollbar-corner {
  background-color: #212121;
}

::-webkit-resizer {
  background-color: #212121;
}

#submenu {
    list-style: none;
}

#submenu li {
    display: inline;
}
