/* General Tag Level Styling */



p {
    font-family:sans-serif;
    color: #E3E3E3;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 1rem;
}

a, .modal-toggle {
    cursor: pointer;
    text-decoration: none;
    color: #B3F5FF;
}

a:hover {
    color: #F7FFB3;
}

hr {
    display: block;
    color: #B3F5FF;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
    border: 2px dashed #B3F5FF;
}

h3 {
    margin-top: 1em;
    color: #EEF2BF;
}

textarea.edit-submit {
    background-color: #292929;
    border: 3px dashed #F7FFB3;
    color: #E3E3E3;
    font-family:sans-serif;
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
}

input[type=submit].edit-submit {
    background-color: #F7FFB3;
    cursor: pointer;
    height: 50px;
    width: 100px;
    float:left;
    display:inline-block;
    clear:left;
    color: #626273;
    border: none;
}

#cancel-button a {
    background-color: #B3FFFE;
    cursor:pointer;
    white-space:normal;
    height: 50px;
    width: 100px;
    float:left;
    display:inline;
    color: #626273;
    border: none;
    text-align:center;
    vertical-align: middle;
    line-height: 49px;
}

.rename-form #cancel-button {
    display: inline-block;
    vertical-align: top;
}

.rename-form input[type=submit].edit-submit {
    background-color: #F7FFB3;
    cursor: pointer;
    height: 50px;
    width: 100px;
    float:none;
    display:inline-block;
    clear:none;
    color: #626273;
    border: none;
    vertical-align: top;
    font-size: 1rem;
}

.rename-form input[name=newpagename] {
    height: 50px;
    width: 200px;
    box-sizing: border-box;
    display: inline-block;
}

.bodytext.rename {
    text-align: center;
}

body {
    background-color: #303131;
    font-family:sans-serif;
    color: #E3E3E3;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.topBar {
    color: #fff;
    background-color: #212121;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
}

.main-menu-container {
    position: absolute;
    display: inline-block;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

#main-menu {

    list-style: none;
    font-size: 1.1rem;
    font-family: sans-serif;
    cursor:pointer;
}

#main-menu li {
    display: inline-block;
    margin: 0 5px;
}

.title-container {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.title-container * {
    display: inline-block;
    margin: 0;
}

header {
    background-color: #383838;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    height: 4%;
}

header h4 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    margin: 0;
}

#submenu {
    list-style: none;
    position: absolute;
    top: 50%;
    right: 5%;
    margin: 0;
    transform: translateY(-50%);
}

#submenu li {
    display: inline;
    margin: 0 5px;
}

.bodytext {
    font-family:sans-serif;
    color: #E3E3E3;
    font-size: 1rem;
    width: 80%;
    text-align: justify;
    position: absolute;
    top: 18%;
    left: 10%;
    padding-bottom: 5%;
}


li form input[name=pagename] {
    background-color: #292929;
    border: 1px dashed #F7FFB3;
    color: #E3E3E3;
    font-family:sans-serif;
    font-size: 0.9rem;
    box-sizing: border-box;
    height: 2rem;
    padding-left: 10px;
}

li form input[name=submit] {
    background-color: #ed8f8f;
    border: 1px dashed #F7FFB3;
    color: #303131;
    font-family:sans-serif;
    font-size: 0.9rem;
    box-sizing: border-box;
    cursor: pointer;
    height: 2rem;
}

.edit-instructions {
    height: 100%;
    width: 35%;
    display: inline-block;
    float: right;
    text-align: right;
    font-size: 1rem;
}

p, li, ul {
    line-height: 140%;
}

.bodytext li {
    margin: 1%;
    font-size: 1rem;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
    display: block;
}

.modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F5F5F5;
    border: 4px groove #383838;
    box-sizing: border-box;
    text-align: center;
    width: 50vw;
    border-radius: 10px;
    padding: 20px;
}

#modal p {
    text-align: center;
    color: black;
}

.hidden {
    display: none !important;
}

.modal-button {
    background-color: #FFF;
    color: black;
    height: 30px;
    width: 75px;
}

.modal-button:hover {
    background-color: #ed8f8f;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .nosmall {
        display: none !important;
    }

    .bodytext p, .bodytext li {
        font-size: 1.35rem;
    }

    .bodytext h1, .bodytext h2, .bodytext h3 {
        font-size: 1.5rem;
    }

    header {
        height: 7%;
    }

    header h4 {
        font-size: 1.4rem;
    }

    .bodytext {
        top: 21%;
        font-size: 1.35rem;
    }

    button {
        border: 1px solid black;
    }

    .modal-body {
        width: 80vw;
    }

    .edit-instructions {
        height: 100%;
        width: 35%;
        display: inline-block;
        float: right;
        text-align: right;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 390px) {
    .notiny {
        display: none !important;
    }
}
